<div class="p-sidebar">
  <div class="p-sidebar-logo">
    <h1 class="font-syne">Fearless.</h1>
  </div>

  <div class="p-sidebar-section">
    <h3 class="font-syne">Documents</h3>
    <ul>
      <li>
        <i class="pi pi-plus"></i>
        <span>New</span>
        <small>⌘+N</small>
      </li>
      <li>
        <i class="pi pi-search"></i>
        <span>Search</span>
        <small>⌘+S</small>
      </li>
    </ul>
  </div>

  <div class="p-sidebar-section">
    <h3 class="font-syne">Profile</h3>
    <ul>
      <li>
        <i class="pi pi-cog"></i>
        <span>Settings</span>
        <small>⌘+O</small>
      </li>
      <li>
        <i class="pi pi-envelope"></i>
        <span>Messages</span>
        <p-badge value="2"></p-badge>
      </li>
      <li>
        <i class="pi pi-sign-out"></i>
        <span>Logout</span>
        <small>⌘+Q</small>
      </li>
    </ul>
  </div>
</div>
